* {
    /*zodat er geen onnodige padding en borders zijn*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 500;

}
body {
    background: rgba(211, 211, 211, 1);
    
}
nav{
    
    width: 30%;
    padding:1em 1.5em 1em 1.5em;
    
    

}
.navigatie_link_list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
}

.navigatie_links{
    transition: all 0.3s ease-in 0s;
    border-radius: 1.5em;
    padding: 0.5em;
}
.navigatie_links:hover{
    background-color: rgba(9,9,121,1);
     a {
        color: rgba(245, 243, 244, 1);
    }
        
    
}
.navigatie_links a {
    color: rgba(9,9,121,1);
    font-weight: bolder;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin:1em 5em 1em 5em;
    background-color: rgba(245, 243, 244, 0.5);
    
    border-radius: 2em;
    
    
}
.logo{
    width: 10em;
    border: 2px solid rgba(9,9,121,1);
    border-radius: 15%;
    transition: all 0.3s ease-in 0s;
}
.menu_img{
    width: 25em;
}
.logo:hover{
    width: 9em;
    cursor: pointer;
    
}
button{
    background-color: rgba(9,9,121,1);
    color: rgba(211, 211, 211, 1);
    padding:1.25em 2.25em 1.25em 2.25em;
    border: 2px solid;
    border-radius: 0.5em;
    font-weight: bolder;
    transition: all 0.3s ease-in 0s;
}
button:hover {
    background-color: rgba(9,9,121,1);
    color: rgba(211, 211, 211, 1);
    padding: 1em 2em 1em 2em;
    cursor: pointer;
}

/*css voor de body en de formulier*/

.aboutme{
    background-color:rgba(211, 211, 211, 1);
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20em;
    margin: 10em 10em 5em 10em;
    border:2px solid  rgba(211, 211, 211, 1);
    border-radius: 1.5em;
    transition: all 0.3s ease-in 0s;

}

.aboutme_text{
    padding: 2em;
}
.aboutme_app{
    position: relative;
    padding: 2em;
    color: rgba(211, 211, 211, 1);
    top: -15%;
    right: -5%;
    width: 60%;
    height: 130%;
    background-color: rgba(9,9,121,1);
    border: 2px solid rgba(211, 211, 211, 1);
    border-radius: 1.5em;
    transition: all 0.3s ease-in 0s;
}
#contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#name-mail{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 3em;
}

.glass_backdrop{
    background-color: rgba(245, 243, 244, 0.5);
    width: 80%;
    height: 75vh;
    margin: auto;
    position: relative;
    padding-top: 0.5em;
    margin-top: 3em;
    border-radius: 5em;


}
.inputs{
    width: 100%; 
    height: 3em;
    padding: 1em;
    border: 2px solid rgba(211, 211, 211, 1);
    border-radius: 1em;
    background: transparent;

}
.inputs::placeholder, textarea::placeholder{
    color:rgba(211, 211, 211, 1);
}
#message{
    position: relative;
    width: 120%; 
    height: 10em;
    padding: 1em;
    border: 2px solid rgba(211, 211, 211, 1);
    margin-bottom: 2em;
    left: -2em;
    margin-right: 2em;
    border-radius: 1em;
    background: transparent;
    transition: all 0.3s ease-in 0s;
}
#message:hover{
    width: 150%;
    height: 11em;
    border: 2px solid rgba(9,9,121,1);

}

.inputs:focus, #message:focus {
    background-color: rgba(9,9,121,1);
    color: white;
  }
.inputs:focus::placeholder, #message:focus::placeholder {
    color:  rgba(211, 211, 211, 1)!important;
  }


.aboutme:hover {
    background-color:rgba(9,9,121,1);
    .aboutme_text{
        color: rgb(100, 98, 98)!important;
        h3{
            color: rgba(211, 211, 211, 1)!important;
        }
        h1{
            color: rgb(100, 98, 98)!important;
        }
    }
    .aboutme_app{
        background-color: rgba(211, 211, 211, 1);
        color: rgba(9,9,121,1);
    }
    .inputs, #message{
        border-color: rgba(9,9,121,1);
    }.inputs::placeholder,textarea::placeholder{
        color: rgba(9,9,121,1);
    }
}

.error-message{
    color: red;
    font-weight: bolder;
}
.error {
    border: 2px solid red !important; 
    background-color: lightcoral !important;
}

.contact_mail{
    font-weight: 800;
}

/*weather app*/
.weather_app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.weather-section {
    margin-bottom: 40px;
    
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #postalCodeInput{
    width: 100%; 
    height: 3em;
    padding: 1em;
    border: 2px solid rgb(23, 23, 233);
    color: rgba(9,9,121,1);
    border-radius: 1em;
    background: transparent;
  }
  #postalCodeInput::placeholder{
    color: darkgray;
  }
h1{
    color: rgb(23, 23, 233);
    font-weight: 800;
}
h2 {
    color: rgba(9,9,121,1);
    font-weight: 600;
}
h3{
    color: black;
    font-weight: 550;
}

  #clearButton {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #clearButton:hover {
    background-color: #c82333;
  }

  .weatherData {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(23, 23, 233);
    padding: 20px;
    margin: 10px;
    max-width: 400px;
  }
  
  .weatherData h3 {
    margin: 10px 0;
  }
  
  .city_name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .city_postal_code {
    font-size: 18px;
    color: rgb(23, 23, 233);
  }
  
  .city_temperature,
  .city_wind_speed {
    font-size: 20px;
  }
  
  #weatherByPostalCode{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

.popup-content {
    text-align: center;
}

.popup h2 {
    margin-top: 0;
}

.popup button {
    margin-top: 10px;
}

.popup input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup input[type="email"]:focus {
    outline: none;
    border-color: dodgerblue;
}